:root {
  --ifm-color-primary: #c26e00;
  --ifm-color-primary-dark: #af6300;
  --ifm-color-primary-darker: #a55e00;
  --ifm-color-primary-darkest: #884d00;
  --ifm-color-primary-light: #d57900;
  --ifm-color-primary-lighter: #df7f00;
  --ifm-color-primary-lightest: #fc8f00;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] {
  --ifm-background-color: #1b1b1d; 			
  --ifm-background-surface-color: #1b1b1d;	
}

[data-theme='dark'] {
  --ifm-color-primary: #fda026;
  --ifm-color-primary-dark: #fd9309;
  --ifm-color-primary-darker: #f58c02;
  --ifm-color-primary-darkest: #ca7302;
  --ifm-color-primary-light: #fdad43;
  --ifm-color-primary-lighter: #fdb351;
  --ifm-color-primary-lightest: #fec67d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] body::-webkit-scrollbar {
  width: 8px; 
}

[data-theme='dark'] body::-webkit-scrollbar-track {
  background: #444444;
}

[data-theme='dark'] body::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 10px;       
}

[data-theme='dark'] body::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #7a7a7a;      
}


[data-theme='light'] body::-webkit-scrollbar {
  width: 8px; 
}

[data-theme='light'] body::-webkit-scrollbar-track {
  background: #f0f0f1;
}

[data-theme='light'] body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;       
}

[data-theme='light'] body::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #a7a7a7;      
}

.navbar__brand {
  font-size: 1.2rem;
}

.navbar__title {
  font-weight: 700;
}

.navbar__logo {
  height: 40px;
}

.navbar__item {
  font-weight: 600;
}

