:root {
  --ifm-color-primary: #5b3606;
  --ifm-color-primary-dark: #523105;
  --ifm-color-primary-darker: #4d2e05;
  --ifm-color-primary-darkest: #402604;
  --ifm-color-primary-light: #643b07;
  --ifm-color-primary-lighter: #693e07;
  --ifm-color-primary-lightest: #764608;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] {
  --ifm-background-color: #1b1b1d; 			
  --ifm-background-surface-color: #1b1b1d;	
}

[data-theme='dark'] {
  --ifm-color-primary: #fda026;
  --ifm-color-primary-dark: #fd9309;
  --ifm-color-primary-darker: #f58c02;
  --ifm-color-primary-darkest: #ca7302;
  --ifm-color-primary-light: #fdad43;
  --ifm-color-primary-lighter: #fdb351;
  --ifm-color-primary-lightest: #fec67d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] body::-webkit-scrollbar {
  width: 8px; 
}

[data-theme='dark'] body::-webkit-scrollbar-track {
  background: #444444;
}

[data-theme='dark'] body::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 10px;       

}

[data-theme='light'] body::-webkit-scrollbar {
  width: 8px; 
}

[data-theme='light'] body::-webkit-scrollbar-track {
  background: #f0f0f1;
}

[data-theme='light'] body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;       
}
